<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">
	<title>Borrow History | De La Salle University - SHS Online Library</title>

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Lato" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">

	<!-- Stylesheets -->
	<link href="css/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="css/borrowhistory.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="css/sweetalert.css">
</head>

<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				<a class="navbar-brand" href="#">DLSU SHS Online Library</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="/"> <span class="glyphicon glyphicon-search"></span> Search</a> <span class="sr-only">(current)</span></a></li>
					<li class="active"><a href="/"> Reserve Meeting Room <span class="sr-only">(current)</span></a></li>
					<!-- <li><a href="cart.html"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li> -->
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hazel Brosas <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li class="active"><a>Borrow History</a></li>
							<li><a href="#">Reservation History</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="edit_profile.html">Edit Profile</a></li>
							<li><a href="#">Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<!-- /.container-fluid -->
	</nav>

	<div class="main-container">
		<div class="container">
			<h2>Borrow History</h2><br>
        	<div class="row">
        		<table class="table table-striped">
				  <thead>
				  	<th></th>
				  	<th>Catalog Type</th>
				  	<th>Catalog Title</th>
				  	<th>Date Borrowed</th>
				  	<th>Anticipated Date Return</th>
				  	<th>Status</th>
				  </thead>
				  <!-- BORROW DETAILS -->
				  <tr>
				  	<td>1</td>
				  	<td>Book</td>
				  	<td>How To Be Badass</td>
				  	<td>January 01, 2017</td>
				  	<td>January 10, 2017</td>
				  	<td>
				  		<button type="button" class="btn btn-primary btn-block">On Hand</button> <!--if borrowed-->
				  		<button type="button" class="btn btn-danger btn-block">Due</button> <!--if done na reservation-->
				  		<button type="button" class="btn btn-success btn-block">Returned</button> <!--if returned na-->
				  	</td>
				  </tr>

				  <tr>
				  	<td>1</td>
				  	<td>Book</td>
				  	<td>How To Be Badass</td>
				  	<td>January 01, 2017</td>
				  	<td>January 10, 2017</td>
				  	<td>
				  		<button type="button" class="btn btn-primary btn-block">On Hand</button> <!--if borrowed-->
				  		<button type="button" class="btn btn-danger btn-block">Due</button> <!--if done na reservation-->
				  		<button type="button" class="btn btn-success btn-block">Returned</button> <!--if returned na-->
				  	</td>
				  </tr>
				</table>
        	</div>
        </div>
	</div>

	<!-- Scripts -->
	<script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/navbar.js"></script>

	<!-- Sweet Alert -->
	<script type="text/javascript" src="js/sweetalert.min.js"></script>

	<!-- List Catalog Script -->
	<script type="text/javascript" src="js/list-catalog.js">
	</script>

	<script type="text/javascript">
		var addReviewBtn = $("#addReviewBtn"), addReview = $("#add-review");
		var reviewList = $("#review-list");

		$('#reserveButton').click(function(){
		  // swal("How to be badass", "has been successfully borrowed", "success")
		  $("#signInModal").modal('show');
		});

		$(document).on("click", "#catalog", function() {
			$("#add-review").hide();
			$("#catalogModal").modal('show');
		});

		$(document).on("click", "#addReviewBtn", function() {
			addReviewBtn.hide();
			reviewList.hide();
			addReview.show();
		});

		$(document).on("click", "#cancel-review", function() {
			addReviewBtn.show();
			reviewList.show();
			addReview.hide();
		});
	</script>
</body>

</html>
