<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">
	<title>De La Salle University - SHS Online Library</title>

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Lato" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">

	<!-- Stylesheets -->
	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="css/index-style.css" rel="stylesheet" type="text/css" />
</head>

<body class="the-body">
	<div class="main-container">

		<div id="home-cont" class="home-cont">
			<div id="login-cont">
				<div class="card card-container">
					<h2 class='login_title text-center'>
						<span class="pull-left">SIGN IN</span>
						<span class="pull-right backbtn" id="back"><< Back</span>
					</h2>
					<hr class="top-hr">
					<p class="error text-center" id="error">Login Error. Invalid Username/Password</p>
					<form class="form-signin">
					<br> <br> <br> <br>
						<p class="input_title">Username</p>
						<input type="text" id="inputUser" class="login_box" placeholder="user@dlsu.edu.ph" required autofocus>
						<br>
						<p class="input_title">Password</p>
						<input type="password" id="inputPassword" class="login_box" placeholder="******" required>
						<br>
						<p class="input_title">First Name</p>
						<input type="text" id="inputFirstName" class="login_box" placeholder="First Name" required autofocus>
						<br>
						<p class="input_title">Middle Name</p>
						<input type="text" id="inputMiddleName" class="login_box" placeholder="Middle Name" required autofocus>
						<br>
						<p class="input_title">Last Name</p>
						<input type="text" id="inputLastName" class="login_box" placeholder="Last Name" required autofocus>
						<br>
						<p class="input_title">ID Number</p>
						<input type="text" id="inputIDnumber" class="login_box" placeholder="ID Number" required autofocus>
						<br>
						<div class="form-group">
							<label class="input_title col-md-4">Birthdate</label>
							<div class="col-md-4">
							<select type="text" class="login_box" placeholder="Birth Date" required autofocus>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
								<option value="12">12</option>
								<option value="13">13</option>
								<option value="14">14</option>
								<option value="15">15</option>
								<option value="16">16</option>
								<option value="17">17</option>
								<option value="18">18</option>
								<option value="19">19</option>
								<option value="20">20</option>
								<option value="21">21</option>
								<option value="22">22</option>
								<option value="23">23</option>
								<option value="24">24</option>
								<option value="25">25</option>
								<option value="26">26</option>
								<option value="27">27</option>
								<option value="28">28</option>
								<option value="29">29</option>
								<option value="30">30</option>
								<option value="31">31</option>
							</select>
							</div>
							<div class="col-sm-3>
							<label class="input_title">Birthmonth</label>
							<div class="col-md-2 col-sm-3">
							<select type="text" class="login_box " placeholder="Birth Month" required autofocus>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
							</select>
							<p class="input_title">Birthyear</p>
							<input type="text" id="inputBirthyear" class="login_box" placeholder="Birth Year" required autofocus>	
							<br>
						</div>
						</div>
					</div>
						<p class="input_title">Security Question</p>
						<select type="text" id="inputsq" class="login_box" placeholder="Please Choose A Security Question" required autofocus>
							<option value="animal"> What is favorite animal? </option>
							<option value="food"> What is your favorite food? </option>
						</select>
						<br>
						<p class="input_title">Security Answer</p>
						<input type="text" id="inputsqanswer" class="login_box" placeholder="Security Answer" required autofocus>
						<br>								
						<div class="inline-form">
						<button class="btn btn-small btn-success btn-block submitbtn" type="submit">SIGN IN</button>
					</form><!-- /form -->
		        </div><!-- /card-container -->
			</div>

			<div id="other-cont">
				<div class="card card-container">
					<h2 class='login_title text-center'>
						<span class="pull-right backbtn" id="back"><< Back</span>
					</h2>
					<hr class="top-hr">
					<form class="form-request-acct">
						<p class="input_title">Email Address</p>
						<input type="email" id="inputEmail" class="login_box" placeholder="user@dlsu.edu.ph" required autofocus><br>
						<button class="btn btn-small btn-success btn-block submitbtn" type="submit">REQUEST AN ACCOUNT</button>
					</form><!-- /form -->
					<hr>
					<button class="btn btn-small btn-default btn-block submitbtn">SIGN IN AS GUEST</button>
		        </div><!-- /card-container -->
			</div>

		</div> <!-- Home Container -->
	</div>
	<!-- body -->

	<!-- Scripts -->
	<script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/typed.min.js"></script>

	<!-- Main Script -->
	<script type="text/javascript">
		var maindiv = $("#main"), logindiv = $("#login-cont"), otherdiv = $("#other-cont");
		var openSignin = $("#openSignin"), openOthers = $("#openOthers");
		var logo = $("#logo"), error = $("#error");

		$(document).ready(function() {
			otherdiv.hide();
			error.hide();

			$(document).on("click", "#openSignin", function() {
				logo.hide();
				maindiv.hide();
				logindiv.show(500);
			});

			$(document).on("click", "#back", function() {
				logo.show();
				maindiv.show();
				logindiv.hide();
				otherdiv.hide();
			});

			$(document).on("click", "#openOthers", function() {
				logo.hide();
				maindiv.hide();
				otherdiv.show(500);
			});
		});
	</script>

</body>

</html>
