.timetable {
	max-height: 500px;
    max-width: 700px;
    overflow-y: scroll;
}

th, .room-title {
	font-family: 'Lato', sans-serif;
}

.slot {
	border: 1px solid #fafafa;
}

.slot:hover {
	cursor: pointer;
}

.available {
	background-color: #66bb6a;
}

.reserved {
	background-color: #29b6f6;
}

.chosen {
	background-color: #e57373;
}

.modal-table {
	padding: 20px;
}

.modal-room {
	font-weight: 700;
	font-size: 16px;
	margin-right: 20px;
}